%h1 注文履歴

%table
  %thead
    %tr
      %th 注文番号
      %th{style: "width:100px"} 合計
      %th 注文日時
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.id
        %td= number_to_currency( order.total, :precision => 0, :unit => '￥' )
        %td= order.created_at.strftime("%Y年%m月%d日 %H:%M")
