/ NOTE: add "hidden-xs hidden-sm" class to li elements you want to be hidden at small browser widths
/ e.g. <li class="hidden-xs hidden-sm"><haml_loud> link_to &quot;Visit site&quot;, casein_config_hostname, target: &quot;_blank&quot; </haml_loud></li>
%li= link_to "Visit site", casein_config_hostname, target: "_blank"
